<c-card class="mb-4">
    <c-card-header>
      <strong>Mes </strong> <small>Absences</small>
  
    </c-card-header>
    <c-card-body>
      <table cTable>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Matricule </th>
            <th scope="col">Nom complet </th>
            <th scope="col">Date debut</th>
            <th scope="col">Date de fin</th>
          
            
            <th scope="col">Motif</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of rows">
            <th scope="row">{{row.id}}</th>
           <td>{{row.user_name}}</td> 
           <td>{{row.user_name}}</td> 
           <td>{{row.dateDebut}}</td>
           <td>{{row.dateFin}}</td>
            
            <td>{{row.motif}}</td>
         
          </tr>
  
        </tbody>
      </table>
    </c-card-body>
  </c-card>
