<c-card class="mb-4">
    <c-card-header>
      <strong>Listes </strong> <small>heure supplementaires</small>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  
        <div class="btn-group">
          <button type="button" class="btn btn-danger btn-sm" (click)="openLg(content)"><i
              class="icofont icofont-plus"></i>Ajouter une heure
          </button>
          <!-- <ng-container *ngTemplateOutlet="staticBackdrop"></ng-container>-->
        </div>
      </div>
  
    </c-card-header>
    <c-card-body>
      <table cTable>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Employé </th>
            <th scope="col">Date</th>
            <th scope="col">Heure Debut</th>
            <th scope="col">Heure Fin</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of rows">
            <th scope="row">{{row.id}}</th>
            <td>{{row.user_name}}</td>
            <td>{{row.dateHeureSuppl}}</td>
            <td>{{row.heureDebut}}</td>
            <td>{{row.heureFin}}</td>
            <td>
              <div class="btn-group">
                    <button class="btn btn-sm btn-outline-danger" (click)="openDelete(contentDelete,row.id)">Supprimer</button>
            </div>
            </td>
          </tr>
  
        </tbody>
      </table>
    </c-card-body>
  </c-card>
  <ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Ajouter heure suppl</h4>
        <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form cForm  [formGroup]="itemForm" ngNativeValidate>
          <div [cFormFloating]="true" class="mb-3">
            <select formControlName="user_id" aria-label="Floating label select example" cSelect id="floatingSelect">
    
                <option *ngFor="let user of users" value="{{user.id}}"> {{user.firstname}} </option>
                      
                         </select>
            <label cLabel for="floatingInput">Employés</label>
          </div>
            <div [cFormFloating]="true" class="mb-3">
              <input (change)="changeDate()" cFormControl id="floatingInput" placeholder="date" type="date" formControlName="dateHeureSuppl" />
              <label cLabel for="floatingInput">Date du jour</label>
            </div>
            <div [cFormFloating]="true" class="mb-3">
                <input readOnly cFormControl id="floatingInput" placeholder="heuredebut" type="time" formControlName="heureDebut" />
                <label cLabel for="floatingInput">Heure debut</label>
              </div>
              <div [cFormFloating]="true" class="mb-3">
                <input cFormControl id="floatingInput" placeholder="heurefin" type="time" formControlName="heureFin" />
                <label cLabel for="floatingInput">Heure fin</label>
              </div>
             
            </form>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        <button class="btn btn-secondary mr-1  pull-right" type="button" (click)="onSubmit()">Enregister</button>
    </div>
  </ng-template>
  <ng-template #contentDelete let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Supprimer une heure supplementaire</h4>
      <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     <p>Voulez vous vraiment supprimer cette heure?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      <button class="btn btn-secondary mr-1  pull-right" type="button" (click)="delete()">Confimer</button>
    </div>
  </ng-template>
