<div class="row">
    <div class="col-md-4">
        <c-card class="mb-4">
            <c-card-header>
                <strong>Listes </strong> <small>Personnels</small>

            </c-card-header>
            <c-card-body>
                <ngx-datatable  #table
                class="bootstrap custom-datatable"
                       [rows]="rows"
                       [columnMode]="ColumnMode.force"
                       [headerHeight]="50"
                       [footerHeight]="50"
                       [rowHeight]="'auto'"
                       [limit]="50"
                       [selectionType]="SelectionType.multi"
                       [selected]="selected"
                       [selectAllRowsOnPage]="false"
                       (select)='onSelect($event)'>
            <ngx-datatable-column [width]="30"
                                  [sortable]="false"
                                  [canAutoResize]="false"
                                  [draggable]="false"
                                  [resizeable]="false"
                                  [headerCheckboxable]="true"
                                  [checkboxable]="true">
                                  <ng-template   ngx-datatable-header-template
              let-value="value"
              let-allRowsSelected="allRowsSelected"
              let-selectFn="selectFn"
            >
              <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
            </ng-template>
            
            </ngx-datatable-column>

            <ngx-datatable-column name="Nom">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{row.firstname}}  {{row.lastname}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Departement">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{row.departement}}
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
               <!-- <table cTable>
                    <thead>
                      <tr>
                        <th scope="col"><input type="checkbox"></th>
                        <th scope="col">Employes</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of rows">
                        <td scope="row"><input type="checkbox" (change)="addRow(row.id)"></td>
                        <td>{{row.firstname}} {{row.lastname}}</td>
                
                      </tr>
              
                    </tbody>
                  </table>-->

            </c-card-body>
        </c-card>
    </div>
    <div class="col-md-8">
        <c-card class="mb-4">
            <c-card-header>
                <strong>Envoyer le mail </strong>

            </c-card-header>
            <c-card-body>
                <div class="mb-3">
                    <input [(ngModel)]="subject" type="text" class="form-control" placeholder="Subject">
                </div>
                <div class="mb-3">
                    <textarea [(ngModel)]="message" type="text" class="form-control" rows="4" placeholder="Message"></textarea>
                </div>
                <div class="btn-toolbar">
                    <div class="float-end">
                        <button type="button" class="btn btn-danger waves-effect waves-light me-1"><i
                                class="far fa-trash-alt"></i></button>
                        <button (click)="send()" class="btn btn-success waves-effect waves-light"><span>Send</span> <i
                                class="fas fa-paper-plane ms-1"></i></button>
                    </div>
                </div>
            </c-card-body>
        </c-card>
    </div>
</div>
