<c-card class="mb-4">
    <c-card-header>
      <strong>Type </strong> <small>planings</small>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  
        <div class="btn-group">
          <button type="button" class="btn btn-danger btn-sm" (click)="openLg(content)"><i
              class="icofont icofont-plus"></i>Ajouter un type planing
          </button>
        </div>
      </div>
  
    </c-card-header>
    <c-card-body>
      <table cTable>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom du Type </th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of rows">
            <th scope="row">{{row.id}}</th>
            <td>{{row.nomType}}</td>
            <td></td>
          </tr>
  
        </tbody>
      </table>
    </c-card-body>
  </c-card>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Ajouter Type planing</h4>
      <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form cForm [formGroup]="itemForm" ngNativeValidate>
        <div class="row p-2">
          <div [cFormFloating]="true" class="mb-3">
            <input cFormControl id="floatingInput" placeholder="nomType" type="text" formControlName="nomType" />
            <label cLabel for="floatingInput">nomType</label>
          </div>
        </div>
  
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      <button class="btn btn-secondary mr-1  pull-right" type="button" (click)="onSubmit()">Enregister</button>
    </div>
  </ng-template>